<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nbicc.gywlw.mapper.GywlwRegInfoMapper" >
  <resultMap id="BaseResultMap" type="com.nbicc.gywlw.Model.GywlwRegInfo" >
    <id column="reg_id" property="regId" jdbcType="VARCHAR" />
    <result column="subdevice_id" property="subdeviceId" jdbcType="VARCHAR" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="reg_name" property="regName" jdbcType="VARCHAR" />
    <result column="reg_alias" property="regAlias" jdbcType="VARCHAR" />
    <result column="reg_address" property="regAddress" jdbcType="VARCHAR" />
    <result column="gateway_id" property="gatewayId" jdbcType="VARCHAR" />
    <result column="plc_id" property="plcId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="permission" property="permission" jdbcType="TINYINT" />
    <result column="field_type" property="fieldType" jdbcType="INTEGER" />
    <result column="field_rw" property="fieldRw" jdbcType="INTEGER" />
    <result column="field_functioncode" property="fieldFunctionCode" jdbcType="VARCHAR" />
    <result column="field_attach" property="fieldAttach" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    reg_id, subdevice_id, device_id, reg_name, reg_alias, reg_address, gateway_id, plc_id, 
    content, permission, field_type, field_rw, field_functioncode, field_attach
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from gywlw_reg_info
    where reg_id = #{regId,jdbcType=VARCHAR}
  </select>
  <select id="selectByRegName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from gywlw_reg_info
    where reg_name = #{regName,jdbcType=VARCHAR}
  </select>
  <select id="selectByPlcId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from gywlw_reg_info
    where plc_id = #{plcId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gywlw_reg_info
    where reg_id = #{regId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPlcId" parameterType="java.lang.String" >
    delete from gywlw_reg_info
    where plc_id = #{plcId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nbicc.gywlw.Model.GywlwRegInfo" >
    insert into gywlw_reg_info (reg_id, subdevice_id, device_id, 
      reg_name, reg_alias, reg_address, 
      gateway_id, plc_id, content, 
      permission)
    values (#{regId,jdbcType=VARCHAR}, #{subdeviceId,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR}, 
      #{regName,jdbcType=VARCHAR}, #{regAlias,jdbcType=VARCHAR}, #{regAddress,jdbcType=VARCHAR}, 
      #{gatewayId,jdbcType=VARCHAR}, #{plcId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{permission,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.nbicc.gywlw.Model.GywlwRegInfo" >
    insert into gywlw_reg_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="regId != null" >
        reg_id,
      </if>
      <if test="subdeviceId != null" >
        subdevice_id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="regName != null" >
        reg_name,
      </if>
      <if test="regAlias != null" >
        reg_alias,
      </if>
      <if test="regAddress != null" >
        reg_address,
      </if>
      <if test="gatewayId != null" >
        gateway_id,
      </if>
      <if test="plcId != null" >
        plc_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="fieldType != null" >
        field_type,
      </if>
      <if test="fieldRw != null" >
        field_rw,
      </if>
      <if test="fieldFunctionCode != null" >
        field_functioncode,
      </if>
      <if test="fieldAttach != null" >
        field_attach,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="regId != null" >
        #{regId,jdbcType=VARCHAR},
      </if>
      <if test="subdeviceId != null" >
        #{subdeviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="regName != null" >
        #{regName,jdbcType=VARCHAR},
      </if>
      <if test="regAlias != null" >
        #{regAlias,jdbcType=VARCHAR},
      </if>
      <if test="regAddress != null" >
        #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="gatewayId != null" >
        #{gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="plcId != null" >
        #{plcId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=TINYINT},
      </if>
      <if test="fieldType != null" >
        #{fieldType,jdbcType=INT},
      </if>
      <if test="fieldRw != null" >
        #{fieldRw,jdbcType=INT},
      </if>
      <if test="fieldFunctionCode != null" >
        #{fieldFunctionCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldAttach != null" >
        #{fieldAttach,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nbicc.gywlw.Model.GywlwRegInfo" >
    update gywlw_reg_info
    <set >
      <if test="subdeviceId != null" >
        subdevice_id = #{subdeviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="regName != null" >
        reg_name = #{regName,jdbcType=VARCHAR},
      </if>
      <if test="regAlias != null" >
        reg_alias = #{regAlias,jdbcType=VARCHAR},
      </if>
      <if test="regAddress != null" >
        reg_address = #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="gatewayId != null" >
        gateway_id = #{gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="plcId != null" >
        plc_id = #{plcId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=TINYINT},
      </if>
      <if test="fieldType != null" >
        field_type = #{fieldType,jdbcType=INT},
      </if>
      <if test="fieldRw != null" >
        field_rw = #{fieldRw,jdbcType=INT},
      </if>
      <if test="fieldFunctionCode != null" >
        field_functioncode = #{fieldFunctionCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldAttach != null" >
        field_attach = #{fieldAttach,jdbcType=VARCHAR},
      </if>
    </set>
    where reg_id = #{regId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nbicc.gywlw.Model.GywlwRegInfo" >
    update gywlw_reg_info
    set subdevice_id = #{subdeviceId,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=VARCHAR},
      reg_name = #{regName,jdbcType=VARCHAR},
      reg_alias = #{regAlias,jdbcType=VARCHAR},
      reg_address = #{regAddress,jdbcType=VARCHAR},
      gateway_id = #{gatewayId,jdbcType=VARCHAR},
      plc_id = #{plcId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=TINYINT}
    where reg_id = #{regId,jdbcType=VARCHAR}
  </update>
</mapper>