<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nbicc.gywlw.mapper.GywlwDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.nbicc.gywlw.Model.GywlwDevice" >
    <id column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="device_sn" property="deviceSn" jdbcType="VARCHAR" />
    <result column="admin_id" property="adminId" jdbcType="VARCHAR" />
    <result column="factory_id" property="factoryId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="device_online" property="deviceOnline" jdbcType="TINYINT" />
    <result column="device_type_id" property="deviceTypeId" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="last_connected" property="lastConnected" jdbcType="TIMESTAMP" />
    <result column="gateway" property="gateway" jdbcType="VARCHAR" />
    <result column="expired" property="expired" jdbcType="TIMESTAMP" />

  </resultMap>
  <sql id="Base_Column_List" >
    device_id, device_sn, admin_id, factory_id, create_time, content, deviceOnline, device_type_id,
    device_name, last_connected, gateway, expired, del_mark
  </sql>
  <select id="selectByUserIdAndDeviceSn" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    a.admin_id,a.device_id,a.device_sn,a.device_name,a.last_connected,a.device_online
    from gywlw_device a,(SELECT device_id FROM `gywlw_project_device_group`
                         JOIN gywlw_project_user_group
                         ON gywlw_project_device_group.project_id=gywlw_project_user_group.project_id
                        where gywlw_project_user_group.user_id = #{userId,jdbcType=VARCHAR}) t
    <if test="deviceSn =='ALL'">
      where a.device_id = t.device_id ;
    </if>
    <if test="deviceSn !='ALL'">
      where a.device_id = t.device_id AND a.device_sn = {deviceSn,jdbcType=VARCHAR};
    </if>
  </select>
  <select id="selectByUserIdAndDeviceSnWithAdmin" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    admin_id,device_id,device_sn,device_name,last_connected,device_online
    from gywlw_device
    <if test="deviceSn =='ALL'">
      where admin_id = #{userId,jdbcType=VARCHAR};
    </if>
    <if test="deviceSn !='ALL'">
      where admin_id = #{userId,jdbcType=VARCHAR} AND device_sn = {deviceSn,jdbcType=VARCHAR};
    </if>
  </select>
  <select id="selectByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    admin_id
    from gywlw_device
    WHERE device_id = #{deviceId,jdbcType=VARCHAR};
  </select>
  <select id="selectByAdminId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    admin_id
    from gywlw_device
    WHERE admin_id = #{adminId,jdbcType=VARCHAR};
  </select>
  <select id="selectByFactoryId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    admin_id
    from gywlw_device
    WHERE factory_id = #{factoryId,jdbcType=VARCHAR};
  </select>
  <select id="selectByDeviceSn" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    device_id, device_sn, admin_id, factory_id, create_time, content, device_online, device_type_id,
    device_name, last_connected, gateway, expired, del_mark
    from gywlw_device
    WHERE device_Sn = #{deviceSn,jdbcType=VARCHAR};
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gywlw_device
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nbicc.gywlw.Model.GywlwDevice" >
    insert into gywlw_device (device_id, device_sn, admin_id, 
      factory_id, create_time, content, 
      device_online, device_type_id, device_name,
      last_connected, gateway, expired, 
      del_mark)
    values (#{deviceId,jdbcType=VARCHAR}, #{deviceSn,jdbcType=VARCHAR}, #{adminId,jdbcType=VARCHAR}, 
      #{factoryId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, 
      #{deviceOnline,jdbcType=TINYINT}, #{deviceTypeId,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR},
      #{lastConnected,jdbcType=TIMESTAMP}, #{gateway,jdbcType=VARCHAR}, #{expired,jdbcType=TIMESTAMP}, 
      #{delMark,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.nbicc.gywlw.Model.GywlwDevice" >
    insert into gywlw_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="deviceSn != null" >
        device_sn,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="deviceOnline != null" >
        device_online,
      </if>
      <if test="deviceTypeId != null" >
        device_type_id,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="lastConnected != null" >
        last_connected,
      </if>
      <if test="gateway != null" >
        gateway,
      </if>
      <if test="expired != null" >
        expired,
      </if>
      <if test="delMark != null" >
        del_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceSn != null" >
        #{deviceSn,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="device_online != null" >
        #{deviceOnline,jdbcType=TINYINT},
      </if>
      <if test="deviceTypeId != null" >
        #{deviceTypeId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="lastConnected != null" >
        #{lastConnected,jdbcType=TIMESTAMP},
      </if>
      <if test="gateway != null" >
        #{gateway,jdbcType=VARCHAR},
      </if>
      <if test="expired != null" >
        #{expired,jdbcType=TIMESTAMP},
      </if>
      <if test="delMark != null" >
        #{delMark,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nbicc.gywlw.Model.GywlwDevice" >
    update gywlw_device
    <set >
      <if test="deviceSn != null" >
        device_sn = #{deviceSn,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="deviceOnline != null" >
        device_online = #{deviceOnline,jdbcType=TINYINT},
      </if>
      <if test="deviceTypeId != null" >
        device_type_id = #{deviceTypeId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="lastConnected != null" >
        last_connected = #{lastConnected,jdbcType=TIMESTAMP},
      </if>
      <if test="gateway != null" >
        gateway = #{gateway,jdbcType=VARCHAR},
      </if>
      <if test="expired != null" >
        expired = #{expired,jdbcType=TIMESTAMP},
      </if>
      <if test="delMark != null" >
        del_mark = #{delMark,jdbcType=TINYINT},
      </if>
      <if test="expiredRight != null" >
        expired_right = #{expiredRight,jdbcType=TINYINT},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByDeviceSnSelective" parameterType="com.nbicc.gywlw.Model.GywlwDevice" >
    update gywlw_device
    <set >
      <if test="deviceSn != null" >
        device_sn = #{deviceSn,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="deviceOnline != null" >
        device_online = #{deviceOnline,jdbcType=TINYINT},
      </if>
      <if test="deviceTypeId != null" >
        device_type_id = #{deviceTypeId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="lastConnected != null" >
        last_connected = #{lastConnected,jdbcType=TIMESTAMP},
      </if>
      <if test="gateway != null" >
        gateway = #{gateway,jdbcType=VARCHAR},
      </if>
      <if test="expired != null" >
        expired = #{expired,jdbcType=TIMESTAMP},
      </if>
      <if test="delMark != null" >
        del_mark = #{delMark,jdbcType=TINYINT},
      </if>
      <if test="expiredRight != null" >
        expired_right = #{expiredRight,jdbcType=TINYINT},
      </if>
    </set>
    where device_sn = #{deviceSn,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nbicc.gywlw.Model.GywlwDevice" >
    update gywlw_device
    set device_sn = #{deviceSn,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=VARCHAR},
      factory_id = #{factoryId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      device_online = #{deviceOnline,jdbcType=TINYINT},
      device_type_id = #{deviceTypeId,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      last_connected = #{lastConnected,jdbcType=TIMESTAMP},
      gateway = #{gateway,jdbcType=VARCHAR},
      expired = #{expired,jdbcType=TIMESTAMP},
      del_mark = #{delMark,jdbcType=TINYINT}
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
  
  <select id="searchDeviceByFactory" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	 select * from gywlw_device  where admin_id=#{adminId}
  </select>
  
  <select id="getFactoryDevicelist" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	 select a.* from gywlw_device a
  	 <if test="level == 0">
  	 	where a.factory_id=#{factoryId}
  	 </if>
  	 <if test="level == 1">
  	 	LEFT JOIN gywlw_user_admin_group b on b.admin_id=a.admin_id
  	 	where b.user_id=#{factoryId}
  	 </if>
  	 <if test="deviceSn != null and deviceSn !=''">
  	 	and a.device_sn like CONCAT('%','${deviceSn}','%')
  	 </if>
  </select>
</mapper>