<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nbicc.gywlw.mapper.GywlwDeviceOrderMapper" >
  <resultMap id="BaseResultMap" type="com.nbicc.gywlw.Model.GywlwDeviceOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="device_sn" property="deviceSn" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="order_total" property="orderTotal" jdbcType="INTEGER" />
    <result column="order_finished" property="orderFinished" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="recent_work_time" property="recentWorkTime" jdbcType="VARCHAR" />
    <result column="finish_time" property="finishTime" jdbcType="VARCHAR" />
    <result column="total_time" property="totalTime" jdbcType="VARCHAR" />
    <result column="passageway" property="passageway" jdbcType="VARCHAR" />
    <result column="production_id" property="productionId" jdbcType="VARCHAR" />
    <result column="production_name" property="productionName" jdbcType="VARCHAR" />
    <result column="operate_mark" property="operateMark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_id, device_sn, order_code, order_total, order_finished, created_time, 
    recent_work_time, finish_time, total_time, passageway, production_id, production_name, 
    operate_mark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gywlw_device_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from gywlw_device_order
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gywlw_device_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nbicc.gywlw.Model.GywlwDeviceOrder" >
    insert into gywlw_device_order (id, device_id, device_sn, 
      order_code, order_total, order_finished, 
      created_time, recent_work_time, finish_time, 
      total_time, passageway, production_id, 
      production_name, operate_mark)
    values (#{id,jdbcType=INTEGER}, #{deviceId,jdbcType=VARCHAR}, #{deviceSn,jdbcType=VARCHAR}, 
      #{orderCode,jdbcType=VARCHAR}, #{orderTotal,jdbcType=INTEGER}, #{orderFinished,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{recentWorkTime,jdbcType=VARCHAR}, #{finishTime,jdbcType=VARCHAR}, 
      #{totalTime,jdbcType=VARCHAR}, #{passageway,jdbcType=VARCHAR}, #{productionId,jdbcType=VARCHAR}, 
      #{productionName,jdbcType=VARCHAR}, #{operateMark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nbicc.gywlw.Model.GywlwDeviceOrder" >
    insert into gywlw_device_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="deviceSn != null" >
        device_sn,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="orderTotal != null" >
        order_total,
      </if>
      <if test="orderFinished != null" >
        order_finished,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="recentWorkTime != null" >
        recent_work_time,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="totalTime != null" >
        total_time,
      </if>
      <if test="passageway != null" >
        passageway,
      </if>
      <if test="productionId != null" >
        production_id,
      </if>
      <if test="productionName != null" >
        production_name,
      </if>
      <if test="operateMark != null" >
        operate_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceSn != null" >
        #{deviceSn,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderTotal != null" >
        #{orderTotal,jdbcType=INTEGER},
      </if>
      <if test="orderFinished != null" >
        #{orderFinished,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recentWorkTime != null" >
        #{recentWorkTime,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null" >
        #{totalTime,jdbcType=VARCHAR},
      </if>
      <if test="passageway != null" >
        #{passageway,jdbcType=VARCHAR},
      </if>
      <if test="productionId != null" >
        #{productionId,jdbcType=VARCHAR},
      </if>
      <if test="productionName != null" >
        #{productionName,jdbcType=VARCHAR},
      </if>
      <if test="operateMark != null" >
        #{operateMark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nbicc.gywlw.Model.GywlwDeviceOrder" >
    update gywlw_device_order
    <set >
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceSn != null" >
        device_sn = #{deviceSn,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderTotal != null" >
        order_total = #{orderTotal,jdbcType=INTEGER},
      </if>
      <if test="orderFinished != null" >
        order_finished = #{orderFinished,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recentWorkTime != null" >
        recent_work_time = #{recentWorkTime,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null" >
        total_time = #{totalTime,jdbcType=VARCHAR},
      </if>
      <if test="passageway != null" >
        passageway = #{passageway,jdbcType=VARCHAR},
      </if>
      <if test="productionId != null" >
        production_id = #{productionId,jdbcType=VARCHAR},
      </if>
      <if test="productionName != null" >
        production_name = #{productionName,jdbcType=VARCHAR},
      </if>
      <if test="operateMark != null" >
        operate_mark = #{operateMark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nbicc.gywlw.Model.GywlwDeviceOrder" >
    update gywlw_device_order
    set device_id = #{deviceId,jdbcType=VARCHAR},
      device_sn = #{deviceSn,jdbcType=VARCHAR},
      order_code = #{orderCode,jdbcType=VARCHAR},
      order_total = #{orderTotal,jdbcType=INTEGER},
      order_finished = #{orderFinished,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      recent_work_time = #{recentWorkTime,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=VARCHAR},
      total_time = #{totalTime,jdbcType=VARCHAR},
      passageway = #{passageway,jdbcType=VARCHAR},
      production_id = #{productionId,jdbcType=VARCHAR},
      production_name = #{productionName,jdbcType=VARCHAR},
      operate_mark = #{operateMark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>