<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nbicc.gywlw.mapper.GywlwHistoryDataForGPIOMapper" >
  <resultMap id="BaseResultMap" type="com.nbicc.gywlw.Model.GywlwHistoryDataForGPIO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gpio_id" property="gpioId" jdbcType="VARCHAR" />
    <result column="value" property="itemValue" jdbcType="INTEGER" />
    <result column="time" property="itemTime" jdbcType="TIMESTAMP" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="alarm" property="alarm" jdbcType="VARCHAR" />
    <result column="field_address" property="itemName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.nbicc.gywlw.Model.GywlwHistoryDataForGPIO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gpio_id" property="gpioId" jdbcType="VARCHAR" />
    <result column="value" property="itemValue" jdbcType="INTEGER" />
    <result column="time" property="itemTime" jdbcType="TIMESTAMP" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="alarm" property="alarm" jdbcType="VARCHAR" />
    <result column="variable_name" property="variableName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.nbicc.gywlw.Model.GywlwHistoryDataForGPIO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gpio_id" property="gpioId" jdbcType="VARCHAR" />
    <result column="value" property="itemValue" jdbcType="INTEGER" />
    <result column="time" property="itemTime" jdbcType="TIMESTAMP" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="alarm" property="alarm" jdbcType="VARCHAR" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="rule_name2" property="ruleName2" jdbcType="VARCHAR" />
    <result column="rule_condition" property="ruleCondition" jdbcType="VARCHAR" />
    <result column="rule_field" property="ruleField" jdbcType="VARCHAR" />
    <result column="rule_alarmlevel" property="ruleAlarmlevel" jdbcType="VARCHAR" />
    <result column="variable_name" property="variableName" jdbcType="VARCHAR" />
    <result column="field_address" property="fieldAddress" jdbcType="VARCHAR" />
    <result column="field_name" property="fieldName" jdbcType="VARCHAR" />
    <result column="field_name2" property="fieldName2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gpio_id, value, time, device_id, content, alarm
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gywlw_history_data_for_gpio
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getHistoryData" resultMap="BaseResultMap" >
    select
    a.*, b.field_address
    from gywlw_history_data_for_gpio a
    LEFT JOIN gywlw_device_gpio b
    ON a.gpio_id=b.id
    where a.device_id = #{deviceId,jdbcType=VARCHAR} and a.gpio_id = #{gpioId,jdbcType=VARCHAR}
    and a.time BETWEEN #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
    ORDER BY a.time DESC
  </select>
  <select id="selectwarning" resultMap="BaseResultMap2" >
    select
    a.*,b.rule_name,b.rule_condition,b.rule_field,b.rule_alarmlevel,b.rule_name2,b.rule_1,b.rule_2, c.variable_name,e.field_address,e.field_name,e.field_name2
    from gywlw_history_data_for_gpio a,gywlw_warning_rules b,gywlw_variable c, gywlw_variable_reg_group d, gywlw_device_gpio e
    <if test="variableName != 'ALL'">
      where a.time BETWEEN #{startTime,jdbcType=TIMESTAMP} AND #{endTime,jdbcType=TIMESTAMP} AND a.alarm = b.rule_id  and c.variable_name = #{variableName,jdbcType=VARCHAR} and c.project_id = #{projectId,jdbcType=VARCHAR} and c.variable_id = d.variable_id and d.reg_id = a.gpio_id
    </if>
    <if test="variableName == 'ALL'">
      where a.time BETWEEN #{startTime,jdbcType=TIMESTAMP} AND #{endTime,jdbcType=TIMESTAMP} and a.alarm = b.rule_id  AND c.project_id = #{projectId,jdbcType=VARCHAR} and c.variable_id = d.variable_id and d.reg_id = a.gpio_id
    </if>
    ORDER BY a.time DESC
  </select>
  <select id="getLatestData" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from (select * from gywlw_history_data_for_gpio where device_id = #{deviceId,jdbcType=VARCHAR} order by time desc) t
    GROUP BY gpio_id
  </select>
  <select id="getLatestDataByVariableName" resultMap="BaseResultMap1" parameterType="java.lang.String" >
    SELECT * from
    (select a.*,c.variable_name from gywlw_history_data_for_gpio a,gywlw_variable_reg_group b,gywlw_variable c
    where c.project_id = #{projectId,jdbcType=VARCHAR} and b.variable_id = c.variable_id
    <if test="variableName != 'ALL'" >
    and c.variable_name = #{variableName,jdbcType=VARCHAR}
    </if>
    and a.gpio_id = b.reg_id ORDER BY time desc) t
    GROUP BY gpio_id
  </select>
  <select id="getAlarmDataBySeverity" resultMap="BaseResultMap2" parameterType="java.lang.String" >
    SELECT a.*,b.rule_name,b.rule_name2,b.rule_condition,b.rule_field,b.rule_alarmlevel FROM gywlw_history_data_for_gpio a LEFT JOIN gywlw_warning_rules b
    on a.alarm=b.rule_id
    where b.rule_alarmlevel = #{severity,jdbcType=VARCHAR}
    and a.device_id = #{deviceId,jdbcType=VARCHAR}
    and a.time BETWEEN #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
    ORDER BY a.time DESC ;
  </select>
  <select id="getLastTimeByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT *
    FROM gywlw_history_data_for_gpio
    where device_id = #{deviceId,jdbcType=VARCHAR}
    ORDER BY time DESC
    Limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gywlw_history_data_for_gpio
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into gywlw_history_data_for_gpio (gpio_id, value, time, device_id, content, alarm
    )
    values
    <foreach collection ="list" item="a" index= "index" separator =",">
      (#{a.gpioId,jdbcType=VARCHAR},#{a.itemValue,jdbcType=INTEGER},
      #{a.itemTime,jdbcType=TIMESTAMP},#{a.deviceId,jdbcType=VARCHAR},#{a.content,jdbcType=VARCHAR},
      #{a.alarm,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <insert id="insert" parameterType="com.nbicc.gywlw.Model.GywlwHistoryDataForGPIO" >
    insert into gywlw_history_data_for_gpio (id, gpio_id, value, 
      time, device_id, content, 
      alarm)
    values (#{id,jdbcType=INTEGER}, #{gpioId,jdbcType=VARCHAR}, #{itemValue,jdbcType=INTEGER},
      #{itemTime,jdbcType=TIMESTAMP}, #{deviceId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{alarm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nbicc.gywlw.Model.GywlwHistoryDataForGPIO" >
    insert into gywlw_history_data_for_gpio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gpioId != null" >
        gpio_id,
      </if>
      <if test="itemValue != null" >
        value,
      </if>
      <if test="itemTime != null" >
        time,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="alarm != null" >
        alarm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gpioId != null" >
        #{gpioId,jdbcType=VARCHAR},
      </if>
      <if test="itemValue != null" >
        #{itemValue,jdbcType=INTEGER},
      </if>
      <if test="itemTime != null" >
        #{itemTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="alarm != null" >
        #{alarm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nbicc.gywlw.Model.GywlwHistoryDataForGPIO" >
    update gywlw_history_data_for_gpio
    <set >
      <if test="gpioId != null" >
        gpio_id = #{gpioId,jdbcType=VARCHAR},
      </if>
      <if test="itemValue != null" >
        value = #{itemValue,jdbcType=INTEGER},
      </if>
      <if test="itemTime != null" >
        time = #{itemTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="alarm != null" >
        alarm = #{alarm,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nbicc.gywlw.Model.GywlwHistoryDataForGPIO" >
    update gywlw_history_data_for_gpio
    set gpio_id = #{gpioId,jdbcType=VARCHAR},
      value = #{itemValue,jdbcType=INTEGER},
      time = #{itemTime,jdbcType=TIMESTAMP},
      device_id = #{deviceId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      alarm = #{alarm,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>